* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    margin: 20px;
  }


  /*Imagen de carga*/

#cargando {
    width: max-content;
    height: max-content;
    margin: 10px auto;
  }
  
  #cargando h1 {
    margin: 40px;
    color: #26551a;
    padding-left: 50px;
    font-weight: 700;
    font-size: 40px;
    font-family: Impact, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
  }

  
  /*Imagen de error*/

#error {
    display: none;
    width: max-content;
    height: max-content;
    margin: 10px auto;
  }
  
  #error h1 {
    margin: 40px;
    color: #26551a;
    padding-left: 50px;
    font-weight: 700;
    font-size: 40px;
    font-family: Impact, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
  }

  /*Botones*/
  .container{
    margin-top: 50px;
  }

  /*Divs de selección*/
  #contenido{
    margin: 50px auto;
  }

  /*Listas*/
  .clasificacion{
    width: min-content;
    border:  2px solid black;
    border-radius: 10px;
    padding: 1em;
    margin: 10px auto;
    transition: 250ms;
  }

  .clasificacion h1{
    white-space:nowrap;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
  }
  .clasificacion label{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
  }

  .clasificacion select{
    border-radius: 10px;
  }


  /*Tabla*/
  .content-table {
    padding: 100px auto;
    margin: 100px;
    width: 1000px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 16px rgb(0, 0, 0);
    margin-bottom: 40px;
  }


  table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    padding: 20px;
  }
  
  thead {
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: white;
  }
  tr {
    transition: 250ms;
    
  }
  tr:nth-child(even) {
    background-color: #ddd;
  }